@import "bootstrap";
@import "bootstrap-icons";

:root{
    --bs-primary: #4A69E2;
    --bs-secondary: #232321;
    --bs-bg-primary: #E7E7E3;
}

body{
    background-color: var(--bs-bg-primary);
}

main{
    min-height: calc(80vh - 70px);
}

a{
    text-decoration: none;
    color: black;
}