:root {
  --bs-primary: #4a69e2;
  --bs-secondary: #232321;
  --bs-bg-primary: #e7e7e3;
  --main-light: #cfef1bff;
  --main-secondary: #ffa52f;
  --instagram: #e4405f;
  --facebook: #1877f2;
  --twitter: #1da1f2;
}