.btn-main-light {
  border: 1px solid black;
  font-weight: bold;
  top: 1rem;
  right: 1rem;
  background-color: var(--main-light);
}

.btn-main-light:hover {
  background-color: black;
  color: white;
}

.custom-pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.custom-page-link {
  border: 1px solid black;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-page-link:hover {
  background-color: black;
  color: var(--main-light);
}

.custom-page-item.active .custom-page-link {
  background-color: var(--main-light);
  color: white;
  border-color: black;
}

.pagination-option {
  cursor: pointer;
}

.pagination-option:hover {
  background-color: black;
  color: var(--main-light);
}